AlignConsecutiveAssignments: true
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveMacros: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2
